---
import MainLayout from '../layouts/MainLayout.astro'
---

<MainLayout title="About">
	<h1>About</h1>
	<p style="color: red">Read all about it</p>
</MainLayout>

<style>
	h1 {
		color: red;
	}
</style>